@import "_variables";

:host {
  text-align: center;
}

.form-inline {
  margin: 10px 0;
  font-family: $font-family;

  & select {
    padding: 5px;
    font-size: 15px;
    border: 2px solid darken($main-color, 20%);
    border-radius: 5px;
  }
}

.map {
  height: 85vh;
}
