<form class="form-inline" [hidden]="!isToolsLoaded">
  <label class="label">{{"choice tool" | translate}}</label>
  <select id="type" (change)="onChange($event.target.value)">
    <option value="LineString">{{"tools.line" | translate}}</option>
    <option value="Polygon">{{"tools.polygon" | translate}}</option>
    <option value="">{{"tools.none" | translate}}</option>
  </select>
  <button class="btn" type="button" (click)="clearMap()">{{"clear" | translate}}</button>
</form>
<div class="map" id="map" #map></div>
