@import "_variables";

:host {
  text-align: center;
}

.form-inline {
  margin: 10px 0;
  font-family: $font-family;

  & select {
    padding: 5px;
    font-size: 15px;
    border: 2px solid darken($main-color, 20%);
    border-radius: 5px;
  }

  .label {
    margin-right: 5px;
  }

  .btn {
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background: $main-color;
    border: none;
    border-radius: 5px;
    box-shadow: 0 -3px darken($main-color, 10%) inset;
    outline: none;
    transition: 0.2s;

    &:hover {
      background: darken($main-color, 10%);
    }

    &:active {
      background: $main-color;
      box-shadow: 0 3px $main-color inset;
    }
  }
}

.map {
  height: 85vh;
}
